<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="4849670"
	android:versionName="1.10.0.0.6_reiryuki"
	android:compileSdkVersion="34"
	android:compileSdkVersionCodename="14"
	package="com.miui.mediaeditor"
	platformBuildVersionCode="34"
	platformBuildVersionName="14"
	>
	<uses-sdk
		android:minSdkVersion="30"
		android:targetSdkVersion="34"
		>
	</uses-sdk>
	<uses-feature
		android:glEsVersion="0x00020000"
		>
	</uses-feature>
	<uses-permission
		android:name="android.permission.READ_DEVICE_CONFIG"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.USE_EXACT_ALARM"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.POST_NOTIFICATIONS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.securitycenter.permission.SYSTEM_PERMISSION_DECLARE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.zman.permission.SECURITY_SHARE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.gallery.permission.SCAN"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.gallery.permission.SECRET_ALBUM"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.gallery.permission.SEARCH"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_MEDIA_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_MEDIA_IMAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_MEDIA_AUDIO"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_MEDIA_VIDEO"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.xiaomi.gallery.permission.CLOUD"
		>
	</uses-permission>
	<uses-permission
		android:name="com.xiaomi.permission.CLOUD_MANAGER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.USE_CREDENTIALS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.AUTHENTICATE_ACCOUNTS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_ACCOUNTS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_SYNC_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SYNC_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_SYNC_STATS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.xiaomi.permission.SYNC_TAG_DATA"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.QUERY_ALL_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_MEDIA_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_ALL_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.DEVICE_POWER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.home.launcher.permission.UNINSTALL_SHORTCUT"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_USERS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SECURE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.permission.USE_INTERNAL_GENERAL_API"
		>
	</uses-permission>
	<uses-permission
		android:name="com.xiaomi.permission.MICLOUD"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.extraphoto.permission.VIEW"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.extraphoto.permission.EXTRA_PHOTO"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.permission.EXTRA_NETWORK"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.gallery.permission.MIPUSH_RECEIVE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.GET_TASKS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CONTROL_DISPLAY_BRIGHTNESS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.video.permission.READ_SRT_PERMISSION"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.cloud.cloudserive.permission.SECURITY_DEVICE_CREDENTIAL"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.notes.permission.ACCESS_NOTE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.mishare.PERMISSION.ALL"
		>
	</uses-permission>
	<permission
		android:name="com.miui.mediaeditor.api.PROVIDER"
		>
	</permission>
	<uses-permission
		android:name="com.miui.huanji.receivebroadcast"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.permission.BUGREPORT"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.permission.DUMP_CACHED_LOG"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.bugreport.permission.DUMP_CACHED_LOG"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE"
		>
	</uses-permission>
	<permission
		android:name="com.miui.mediaeditor.permission.MIPUSH_RECEIVE"
		>
	</permission>
	<uses-permission
		android:name="com.miui.mediaeditor.permission.MIPUSH_RECEIVE"
		>
	</uses-permission>
	<queries
		>
		<package
			android:name="com.miui.gallery"
			>
		</package>
		<package
			android:name="com.xiaomi.aicr"
			>
		</package>
	</queries>
	<permission
		android:name="com.miui.mediaeditor.permission.DebugProvider"
		>
	</permission>
	<uses-permission
		android:name="com.miui.mediaeditor.permission.DebugProvider"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED"
		>
	</uses-permission>
	<permission
		android:name="com.miui.mediaeditor.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
		>
	</permission>
	<uses-permission
		android:name="com.miui.mediaeditor.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
		>
	</uses-permission>
	<meta-data
		android:name="com.xiaomi.marketsdk.featuredelivery.sdkversion"
		android:value="1.0.0"
		>
	</meta-data>
	<application
		android:theme="@7F15019C"
		android:label="@7F1400C0"
		android:icon="@7F110001"
		android:name="com.miui.mediaeditor.PhotoShopApp"
		android:allowClearUserData="true"
		android:allowBackup="false"
		android:largeHeap="false"
		android:supportsRtl="true"
		android:extractNativeLibs="true"
		android:networkSecurityConfig="@7F170008"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory"
		android:usesNonSdkApi="true"
		android:requestLegacyExternalStorage="true"
		android:preserveLegacyExternalStorage="true"
		android:dataExtractionRules="@7F170002"
		android:requestRawExternalStorageAccess="true"
		>
		<uses-native-library
			android:name="libapuwareutils_v2.mtk.so"
			android:required="false"
			>
		</uses-native-library>
		<uses-native-library
			android:name="libOpenCL.so"
			android:required="false"
			>
		</uses-native-library>
		<uses-native-library
			android:name="libSNPE.so"
			android:required="false"
			>
		</uses-native-library>
		<uses-native-library
			android:name="libcdsprpc.so"
			android:required="false"
			>
		</uses-native-library>
		<uses-native-library
			android:name="libneuronusdk_adapter.mtk.so"
			android:required="false"
			>
		</uses-native-library>
		<uses-library
			android:name="com.miui.rom"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="com.miui.system"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="security-device-credential-sdk.jar"
			>
		</uses-library>
		<uses-library
			android:name="micloud-sdk"
			>
		</uses-library>
		<meta-data
			android:name="required_permissions"
			android:value="@7F140760"
			>
		</meta-data>
		<meta-data
			android:name="com.miui.gallery.EDIT_CAPABILITIES"
			android:value="immersive|short_landscape|hide_navigation_bar|rotate_screen|lock_orientation|ban_hdr_frame|cutout_mode_short_edges|edit_480|edit_1920|edit_page_animation|open_video_format"
			>
		</meta-data>
		<activity
			android:theme="@7F150145"
			android:name="com.miui.mediaeditor.activity.DownloadLibraryActivity"
			android:exported="true"
			android:configChanges="0x000024A0"
			>
		</activity>
		<activity
			android:theme="@7F150146"
			android:name="com.miui.gallery.permission.core.PermissionDeniedActivity"
			android:screenOrientation="2"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:theme="@7F150144"
			android:name="com.miui.mediaeditor.MainActivity"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
				<data
					android:scheme="com.miui.mediaeditor.main"
					android:host="MainActivity"
					>
				</data>
			</intent-filter>
		</activity>
		<service
			android:name="com.miui.mediaeditor.service.EditorService"
			android:enabled="true"
			android:exported="true"
			android:process=":editor_service"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.mediaeditor.action.EDITOR_SERVICE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</service>
		<provider
			android:name="com.miui.mediaeditor.provider.PhotoShopFileProvider"
			android:exported="false"
			android:authorities="com.miui.mediaeditor.provider.fileProvider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F170005"
				>
			</meta-data>
		</provider>
		<provider
			android:name="com.miui.mediaeditor.provider.MediaEditorProviderForGallery"
			android:permission="com.miui.mediaeditor.api.PROVIDER"
			android:exported="true"
			android:authorities="com.miui.mediaeditor.api"
			>
		</provider>
		<meta-data
			android:name="mediaeditor_api_for_gallery_version_code"
			android:value="14"
			>
		</meta-data>
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:exported="false"
			android:authorities="com.miui.mediaeditor.androidx-startup"
			>
			<meta-data
				android:name="com.miui.mediaeditor.MediaEditorAppInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="com.miui.mediaeditor.aigc.cloud.AigcCloudInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.emoji2.text.EmojiCompatInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.work.WorkManagerInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.lifecycle.ProcessLifecycleInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.profileinstaller.ProfileInstallerInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
		</provider>
		<provider
			android:name="com.miui.mediaeditor.startup.EditorInitializationProvider"
			android:exported="false"
			android:process=":photo_editor"
			android:authorities="com.miui.mediaeditor.editor-startup"
			>
		</provider>
		<provider
			android:name="com.miui.bugreport.logprovider.DumpLogProvider"
			android:permission="com.miui.bugreport.permission.DUMP_CACHED_LOG"
			android:exported="true"
			android:authorities="com.miui.mediaeditor.provider.bugreport"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.bugreport.intent.ACTION_DUMP_CACHED_LOG"
					>
				</action>
			</intent-filter>
		</provider>
		<meta-data
			android:name="com.hyperos.AI_ACTION_DESCRIPTION"
			android:resource="@7F130018"
			>
		</meta-data>
		<provider
			android:name="com.miui.mediaeditor.provider.AiActionProvider"
			android:permission="hyperos.permission.READ_AIACTION"
			android:exported="true"
			android:authorities="com.miui.mediaeditor.action.provider"
			>
			<meta-data
				android:name="com.hyperos.AI_ACTION_PROPERTY"
				android:resource="@7F170000"
				>
			</meta-data>
			<meta-data
				android:name="com.hyperos.AI_ACTION_DYNAMIC_CHECK"
				android:value="true"
				>
			</meta-data>
		</provider>
		<meta-data
			android:name="com.miui.bugreport.LOG_DIR"
			android:resource="@7F170004"
			>
		</meta-data>
		<meta-data
			android:name="miui.supportRequiredModifiable"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="firebase_analytics_collection_enabled"
			android:value="false"
			>
		</meta-data>
		<meta-data
			android:name="firebase_crashlytics_collection_enabled"
			android:value="false"
			>
		</meta-data>
		<meta-data
			android:name="revision"
			android:value="ce678ad"
			>
		</meta-data>
		<meta-data
			android:name="firebaseMappingFileId"
			android:value=""
			>
		</meta-data>
		<activity
			android:theme="@7F150223"
			android:name="com.miui.gallery.movie.ui.activity.MovieActivity"
			android:exported="true"
			android:screenOrientation="2"
			android:configChanges="0x00000FA0"
			android:resizeableActivity="true"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.gallery.editor.intent.action.MOVIE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F15046E"
			android:name="com.miui.gallery.vlog.module.main.ui.activity.MiEditActivity"
			android:screenOrientation="2"
			android:configChanges="0x00000FB0"
			android:windowSoftInputMode="0x00000033"
			>
		</activity>
		<activity
			android:theme="@7F15046E"
			android:name="com.miui.gallery.vlog.module.main.ui.activity.SingleEditActivity"
			android:screenOrientation="2"
			android:configChanges="0x00000FB0"
			android:windowSoftInputMode="0x00000033"
			>
		</activity>
		<activity
			android:theme="@7F15046E"
			android:name="com.miui.gallery.vlog.template2.VlogAutoGenerateActivity"
			android:exported="true"
			android:screenOrientation="2"
			android:configChanges="0x00000FB0"
			android:windowSoftInputMode="0x00000020"
			>
			<intent-filter
				>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<action
					android:name="com.miui.mediaeditor.VLOG_AUTO_GENERATE"
					>
				</action>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F15046E"
			android:name="com.miui.gallery.vlog.template2.VlogTemplateActivity"
			android:exported="true"
			android:screenOrientation="2"
			android:configChanges="0x00000FB0"
			>
			<intent-filter
				>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<action
					android:name="com.miui.mediaeditor.VLOG_DO_TEMPLATE"
					>
				</action>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F150145"
			android:name="com.miui.gallery.vlog.match.vlog.rule.VlogTemplateMatchActivity"
			android:exported="true"
			android:configChanges="0x00002FA0"
			>
			<intent-filter
				>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<action
					android:name="com.miui.mediaeditor.VLOG_SELECT_TEMPLATE"
					>
				</action>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F150001"
			android:name="com.miui.gallery.vlog.module.album.pick.AlbumPickerActivity"
			android:exported="true"
			android:screenOrientation="2"
			android:configChanges="0x00000DB0"
			android:windowSoftInputMode="0x00000020"
			>
			<intent-filter
				>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<action
					android:name="com.miui.mediaeditor.VLOG_ALBUM_PICK"
					>
				</action>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F150145"
			android:name="com.miui.gallery.video.editor.activity.VideoEditorActivity"
			android:exported="true"
			android:configChanges="0x000024A0"
			android:windowSoftInputMode="0x00000033"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.EDIT"
					>
				</action>
				<data
					android:mimeType="video/*"
					android:scheme="file"
					>
				</data>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.gallery.intent.action.EDIT"
					>
				</action>
				<data
					android:mimeType="video/*"
					android:scheme="file"
					>
				</data>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<provider
			android:name="com.miui.gallery.magic.MagicProvider"
			android:exported="false"
			android:authorities="com.miui.mediaeditor.fileProvider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F170005"
				>
			</meta-data>
		</provider>
		<activity
			android:name="com.miui.gallery.magic.idphoto.CertificatesGuideActivity"
			android:exported="true"
			android:configChanges="0x00000F80"
			>
		</activity>
		<activity
			android:name="com.miui.gallery.magic.idphoto.CertificatesMakeActivity"
			android:exported="true"
			android:configChanges="0x00000D80"
			android:windowSoftInputMode="0x00000020"
			>
		</activity>
		<activity
			android:theme="@7F15019D"
			android:name="com.miui.gallery.magic.idphoto.search.CertificatesSearchActivity"
			android:exported="true"
			android:screenOrientation="3"
			android:configChanges="0x00000D80"
			android:windowSoftInputMode="0x00000005"
			>
		</activity>
		<activity
			android:theme="@7F15019E"
			android:name="com.miui.gallery.magic.idphoto.search.CertificatesSearchLookActivity"
			android:exported="true"
			android:windowSoftInputMode="0x00000020"
			>
		</activity>
		<activity
			android:name="com.miui.gallery.magic.matting.MattingActivity"
			android:exported="true"
			android:configChanges="0x00000D80"
			android:resizeableActivity="true"
			>
		</activity>
		<activity
			android:name="com.miui.gallery.magic.special.effects.image.SpecialEffectsActivity"
			android:exported="true"
			android:configChanges="0x00000D80"
			>
		</activity>
		<activity
			android:name="com.miui.gallery.magic.special.effects.image.SpecialEffectsGuideActivity"
			android:exported="true"
			android:configChanges="0x00000D80"
			>
		</activity>
		<activity
			android:name="com.miui.gallery.magic.special.effects.video.VideoEffectsActivity"
			android:exported="true"
			android:screenOrientation="2"
			android:configChanges="0x00000F80"
			>
		</activity>
		<activity
			android:name="com.miui.gallery.magic.special.effects.video.VideoEffectsGuideActivity"
			android:exported="true"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			android:resizeableActivity="true"
			>
		</activity>
		<activity
			android:name="com.miui.gallery.magic.special.effects.video.VideoCutActivity"
			android:exported="true"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			android:resizeableActivity="true"
			>
		</activity>
		<activity
			android:theme="@7F150154"
			android:name="com.miui.gallery.collage.CollageActivity"
			android:exported="true"
			android:screenOrientation="2"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000030"
			android:hardwareAccelerated="true"
			android:resizeableActivity="true"
			>
		</activity>
		<activity
			android:theme="@7F15017D"
			android:label="@7F14067E"
			android:icon="@7F080A4E"
			android:name="com.miui.gallery.editor.photo.screen.home.ScreenEditorActivity"
			android:exported="true"
			android:process=":photo_editor"
			android:excludeFromRecents="true"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000030"
			android:hardwareAccelerated="true"
			android:resizeableActivity="true"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.gallery.intent.action.SCREEN_EDIT"
					>
				</action>
				<data
					android:mimeType="image/*"
					>
				</data>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F15017E"
			android:label="@7F14067E"
			android:icon="@7F080A4E"
			android:name="com.miui.gallery.editor.photo.screen.home.ScreenEditorNoTranslucentActivity"
			android:process=":photo_editor"
			android:excludeFromRecents="true"
			android:screenOrientation="2"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000030"
			android:hardwareAccelerated="true"
			>
		</activity>
		<service
			android:name="com.miui.gallery.editor.photo.screen.home.ScreenShotService"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.gallery.action.SCREENSHOT"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</service>
		<activity
			android:theme="@7F15017C"
			android:label="@7F14067E"
			android:name="com.miui.gallery.editor.photo.app.PhotoEditor"
			android:enabled="true"
			android:exported="true"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000FA0"
			android:windowSoftInputMode="0x00000030"
			android:hardwareAccelerated="true"
			android:showWhenLocked="true"
			>
		</activity>
		<activity
			android:theme="@7F15017C"
			android:label="@7F14067E"
			android:name="com.miui.gallery.editor.photo.app.ExternalPhotoEditor"
			android:exported="true"
			android:process=":photo_editor"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000030"
			android:hardwareAccelerated="true"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.EDIT"
					>
				</action>
				<data
					android:mimeType="image/*"
					>
				</data>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.gallery.intent.action.EDIT"
					>
				</action>
				<data
					android:mimeType="image/*"
					>
				</data>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<service
			android:name="com.miui.gallery.editor.photo.origin.EditorOriginHandlerService"
			android:process=":photo_editor"
			>
		</service>
		<activity
			android:theme="@7F150145"
			android:name="com.miui.mediaeditor.activity.SecretAlbumPermissionActivity"
			android:exported="true"
			android:configChanges="0x000024A0"
			>
		</activity>
		<activity
			android:theme="@7F15028A"
			android:name="com.miui.gallery.editor.photo.app.external.setting.SettingsFunctionActivity"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.android.settings.action.AI_ENHANCED_SETTINGS"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<meta-data
				android:name="com.android.settings.ai.enhanced.category"
				android:value="com.android.settings.category.ai.image"
				>
			</meta-data>
			<meta-data
				android:name="com.android.settings.ai.enhanced.key"
				android:value="ai_photo_editing"
				>
			</meta-data>
			<meta-data
				android:name="com.android.settings.ai.enhanced.title"
				android:resource="@7F1407BC"
				>
			</meta-data>
			<meta-data
				android:name="com.android.settings.ai.enhanced.summary"
				android:resource="@7F1407BB"
				>
			</meta-data>
			<meta-data
				android:name="device_support_list"
				android:resource="@7F030003"
				>
			</meta-data>
		</activity>
		<activity
			android:theme="@7F15017B"
			android:name="com.miui.mediaeditor.motionphoto.MotionPhotoActivity"
			android:exported="true"
			android:configChanges="0x00000FB0"
			android:hardwareAccelerated="true"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.mediaeditor.action.MOTION_PHOTO_REPICK"
					>
				</action>
				<data
					android:mimeType="*/*"
					>
				</data>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.ALTERNATIVE"
					>
				</category>
				<category
					android:name="android.intent.category.SELECTED_ALTERNATIVE"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F150145"
			android:name="com.miui.mediaeditor.motionphoto.MotionPhotoExportActivity"
			android:exported="true"
			android:configChanges="0x000024A0"
			>
		</activity>
		<activity
			android:theme="@7F15017C"
			android:name="com.miui.mediaeditor.aicr.AIManagerActivity"
			android:exported="true"
			android:screenOrientation="2"
			>
		</activity>
		<service
			android:name="com.miui.mediaeditor.aigc.service.AIService"
			android:enabled="true"
			android:exported="false"
			android:process=":aicr_service"
			>
		</service>
		<service
			android:name="com.miui.mediaeditor.aigc.download.DownloadService"
			android:enabled="true"
			android:exported="false"
			android:foregroundServiceType="0x00000001"
			>
		</service>
		<service
			android:name="com.miui.mediaeditor.aigc.download.NotificationService"
			android:enabled="true"
			android:exported="false"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.mediaeditor.action.aigcmanager"
					>
				</action>
			</intent-filter>
		</service>
		<receiver
			android:name="com.miui.mediaeditor.aigc.LocaleReceiver"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.LOCALE_CHANGED"
					>
				</action>
			</intent-filter>
		</receiver>
		<activity
			android:theme="@7F1502CA"
			android:name="com.miui.mediaeditor.photo.text.signature.SignatureActivity"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000030"
			android:hardwareAccelerated="true"
			>
		</activity>
		<activity
			android:theme="@7F1502CA"
			android:name="com.miui.mediaeditor.photo.text.signature.SignatureManageActivity"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000030"
			android:hardwareAccelerated="true"
			>
		</activity>
		<activity
			android:theme="@7F15017C"
			android:label="@7F14067E"
			android:name="com.miui.mediaeditor.photo.PhotoEditorTipsActivity"
			android:exported="false"
			android:screenOrientation="2"
			android:configChanges="0x000004A0"
			android:hardwareAccelerated="true"
			>
			<intent-filter
				android:label="@7F1400BF"
				>
				<action
					android:name="com.miui.mediaeditor.action.VIEW_TIPS"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1502CB"
			android:name="com.miui.mediaeditor.base.PermissionGuideActivity"
			android:screenOrientation="3"
			android:configChanges="0x00000DA0"
			android:windowSoftInputMode="0x00000030"
			android:hardwareAccelerated="true"
			>
		</activity>
		<meta-data
			android:name="MI_PUSH_APP_ID"
			android:value="UNIFIED-2882303761517373386"
			>
		</meta-data>
		<meta-data
			android:name="MI_PUSH_APP_KEY"
			android:value="UNIFIED-5641737344386"
			>
		</meta-data>
		<receiver
			android:name="com.miui.camerainfra.cloudconfig.push.cn.MiPushMessageReceiver"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.xiaomi.mipush.ERROR"
					>
				</action>
			</intent-filter>
		</receiver>
		<service
			android:name="com.miui.mediaeditor.aigc.buildin.AigcService"
			android:enabled="true"
			android:exported="false"
			android:process=":aicr_service"
			>
		</service>
		<provider
			android:name="com.miui.camerainfra.debug.DebugProvider"
			android:permission="com.miui.mediaeditor.permission.DebugProvider"
			android:enabled="true"
			android:exported="true"
			android:authorities="com.miui.mediaeditor.debug.provider"
			>
		</provider>
		<meta-data
			android:name="hybrid"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="os_private_label"
			android:value="PRIVATE_OS020"
			>
		</meta-data>
		<meta-data
			android:name="miuixpreference"
			android:value="3.1"
			>
		</meta-data>
		<meta-data
			android:name="recyclerview"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="appcompat"
			android:value="3.1"
			>
		</meta-data>
		<meta-data
			android:name="popupwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="springback"
			android:value="3.1"
			>
		</meta-data>
		<meta-data
			android:name="miuixstretchablewidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="pickerwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="miuixbasewidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="androidbasewidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="slidingwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="recyclerview_card"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="cardview"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="visualcheck"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="miui_private_label"
			android:value="PRIVATE_V150"
			>
		</meta-data>
		<meta-data
			android:name="nest"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="dynamicoverscroller"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="recyclerview_animator"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="folme"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="animation"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="com.miui.bugreport.DEFAULT_LOG_DIR"
			android:resource="@7F170003"
			>
		</meta-data>
		<receiver
			android:name="miui.settings.commonlib.ApplicationReceiverStub"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.RESTART_APP_STUB"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</receiver>
		<meta-data
			android:name="flexible"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="haptic"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="graphics"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="textutilities"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="pinyin"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="smooth"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="log"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="core"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="viewpager"
			android:value="2.0"
			>
		</meta-data>
		<service
			android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
			android:enabled="@7F050009"
			android:exported="false"
			android:directBootAware="false"
			>
		</service>
		<service
			android:name="androidx.work.impl.background.systemjob.SystemJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:enabled="@7F05000B"
			android:exported="true"
			android:directBootAware="false"
			>
		</service>
		<service
			android:name="androidx.work.impl.foreground.SystemForegroundService"
			android:enabled="@7F05000A"
			android:exported="false"
			android:directBootAware="false"
			>
		</service>
		<receiver
			android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
			android:enabled="true"
			android:exported="false"
			android:directBootAware="false"
			>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
			android:enabled="false"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.ACTION_POWER_CONNECTED"
					>
				</action>
				<action
					android:name="android.intent.action.ACTION_POWER_DISCONNECTED"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
			android:enabled="false"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.BATTERY_OKAY"
					>
				</action>
				<action
					android:name="android.intent.action.BATTERY_LOW"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
			android:enabled="false"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.DEVICE_STORAGE_LOW"
					>
				</action>
				<action
					android:name="android.intent.action.DEVICE_STORAGE_OK"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
			android:enabled="false"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="android.net.conn.CONNECTIVITY_CHANGE"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
			android:enabled="false"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.BOOT_COMPLETED"
					>
				</action>
				<action
					android:name="android.intent.action.TIME_SET"
					>
				</action>
				<action
					android:name="android.intent.action.TIMEZONE_CHANGED"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
			android:enabled="@7F050009"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="androidx.work.impl.background.systemalarm.UpdateProxies"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
			android:permission="android.permission.DUMP"
			android:enabled="true"
			android:exported="true"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"
					>
				</action>
			</intent-filter>
		</receiver>
		<meta-data
			android:name="spring"
			android:value="1.0"
			>
		</meta-data>
		<uses-library
			android:name="androidx.window.extensions"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="androidx.window.sidecar"
			android:required="false"
			>
		</uses-library>
		<service
			android:name="androidx.room.MultiInstanceInvalidationService"
			android:exported="false"
			android:directBootAware="true"
			>
		</service>
		<receiver
			android:name="androidx.profileinstaller.ProfileInstallReceiver"
			android:permission="android.permission.DUMP"
			android:enabled="true"
			android:exported="true"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.INSTALL_PROFILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.SKIP_FILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.SAVE_PROFILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"
					>
				</action>
			</intent-filter>
		</receiver>
		<meta-data
			android:name="MIPUSH_SDK_VERSION_CODE"
			android:value="50906"
			>
		</meta-data>
		<meta-data
			android:name="MIPUSH_SDK_VERSION_NAME"
			android:value="5_9_6-C"
			>
		</meta-data>
		<service
			android:name="com.xiaomi.push.service.XMPushService"
			android:enabled="true"
			android:process=":pushservice"
			>
		</service>
		<service
			android:name="com.xiaomi.push.service.XMJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:enabled="true"
			android:exported="false"
			android:process=":pushservice"
			>
		</service>
		<service
			android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
			android:permission="com.xiaomi.xmsf.permission.MIPUSH_RECEIVE"
			android:enabled="true"
			android:exported="true"
			>
		</service>
		<service
			android:name="com.xiaomi.mipush.sdk.MessageHandleService"
			android:enabled="true"
			>
		</service>
		<receiver
			android:name="com.xiaomi.push.service.receivers.PingReceiver"
			android:exported="false"
			android:process=":pushservice"
			>
			<intent-filter
				>
				<action
					android:name="com.xiaomi.push.PING_TIMER"
					>
				</action>
			</intent-filter>
		</receiver>
		<activity
			android:theme="@01030010"
			android:name="com.xiaomi.mipush.sdk.NotificationClickedActivity"
			android:enabled="true"
			android:exported="true"
			android:excludeFromRecents="true"
			android:launchMode="3"
			>
			<meta-data
				android:name="supportStyle"
				android:value="scene|voip"
				>
			</meta-data>
		</activity>
		<meta-data
			android:name="devicebaseinfo"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="theme"
			android:value="1.0"
			>
		</meta-data>
	</application>
</manifest>
